@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;    
}

@mixin gradient($num){
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, $num),
        rgba($color-primary-dark, $num));
}