<nav class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/faq">FAQ</a></div>
    <div class="navbar__login"><a href="/logout">Logout</a></div>

</nav>
<main class="play__container">
    <div>
        <iframe width="1024" height="576" src="https://www.youtube.com/embed/LZl69yk5lEY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>
</main>