<nav class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/faq">FAQ</a></div>
    <div class="navbar__login"><a href="/logout">Logout</a></div>

</nav>
<main class="play__container">
    <div ">
        <iframe width=" 720" height="415" src="https://www.youtube.com/embed/nSbzyEJ8X9E" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    </div>
</main>