<div class="navbar">
  <div class="navbar__logo"><a href="/">VideoClub</a></div>
  <div class="navbar__faq"><a href="/">FAQ</a></div>
  <div class="navbar__login"><a href="/logout">Logout</a></div>
</div>
<div class="movie-container movie-container__header">
  <!-- <div class="movie-container__logo navbar__logo"><a href="/">VideoClub</a></div>
    <div class="movie-container__logout navbar__login"><a href="/logout">Logout</a></div>
    <div class="movie-container__faq navbar__faq"><a href="/">FAQ</a></div>
    <div class="movie-container__chat navbar__faq"><a href="/">Chat</a></div> -->
  <div class="movie-container__title">TITANIC</div>
  <p class="movie-container__desc">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque maxime
    quasi autem amet placeat. Totam expedita voluptatum animi ratione
    blanditiis.
  </p>
  <div class="movie-container__genre">
    <p>genre</p>
    <p>rating</p>
    <p>release date</p>
  </div>
  <div class="movie-container__price">3 euro</div>
  <a href="/" class="movie-container__btn">Watch Now</a>
</div>
