<div class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__login"><a href="/signup">SignUp</a></div>
</div>
<main class="signup-page">
    <section class="form__container-login">
        <form action="POST1`" class="form__container-login--form">
            <h4 class="heading-secondary">Login</h4>
            <input id="email" class="input" type="email" placeholder="E-Mail Address">
            <input id="password" class="input" type="password" placeholder="Password">
            <a href="" class="btn btn-text">Forgot Password?</a>
            <button class="btn btn-form">Login</button>
        </form>
    </section>
</main>