<main class="signup-page">
    <section class="form-container">
        <div class="form-image form-image-adult"></div>

        <form action="POST1`" class="form">
            <div class="checkbox__container">
                <label for="age" class="heading-secondary">Kids Account</label>
                <input type="checkbox" class='checkbox__box' id='age'>
            </div>
            <input id="firstName" class="input" type="text" placeholder="First Name">
            <input id="lastName" class="input" type="text" placeholder="Last Name">
            <input id="email" class="input" type="text" placeholder="E-Mail Address">
            <input id="password" class="input" type="text" placeholder="Password">
            <input id="confirmPassword" class="input" type="text" placeholder="Confirm Password">

            <button class="btn-form">Sign Up!</button>
        </form>

    </section>
</main>