<div class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/">FAQ</a></div>
    <div class="navbar__login"><a href="/login">Login</a></div>
</div>
<main class="signup-page">
    <section class="form__container">
        <div class="form__image form__image-adult"></div>

        <form action="" method="POST" class="form__container-form">
            <div class="checkbox__container">
                <label for="age" class="heading-secondary">Kids Account</label>
                <input type="checkbox" class='checkbox__box' id='age' name="isAdult">
            </div>
            <input id="firstName" name="firstName" class="input" type="text" placeholder="First Name">
            <input id="lastName" name="lastName" class="input" type="text" placeholder="Last Name">
            <input id="email" name="email" class="input" type="email" placeholder="E-Mail Address">
            <input id="password" name="password" class="input" type="password" placeholder="Password">
            <input id="confirmPassword" name="confirmPassword" class="input" type="password"
                placeholder="Confirm Password">

            <button class="btn btn-form">Sign Up!</button>
        </form>

    </section>
</main>