<main class="signup-page">
    <section class="form-container">
        <div class="form-image"></div>

        <form action="POST1`" class="form">
            <input id="firstName" class="input" type="text" placeholder="First Name">
            <input id="lastName" class="input" type="text" placeholder="Last Name">
            <input id="email" class="input" type="email" placeholder="E-Mail Address">
            <input id="password" class="input" type="password" placeholder="Password">
            <input id="confirmPassword" class="input" type="password" placeholder="Confirm Password">
            <button class="btn-form">Sign Up!</button>
        </form>

    </section>
</main>