.movie {
  &__card {
    // background-image: url(../images/movie.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: $box-shadow-card;
    transition: all 0.4s ease-in-out;

    &-text {
      visibility: hidden;
      color: $color-white;
      letter-spacing: 0.2rem;
      font-size: 1.2rem;
      font-weight: 600;
      // padding: 0 .5rem;
      border-radius: 5px;
      background-color: rgba($color-black, .6);
      height: inherit;
      margin: auto;
      width: 100%;
      text-align: center;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      &--title{
        margin-top: 5vh;
        height: 5vh;
        // background-color: rgba($color-black, .6);
        color: $color-white;
        text-align: center;
        width: 100%;
        font-weight: 400;
      }

      &--desc{
        height: 20vh;
      }
      
    }

    &:hover {
      transform: scale(1.05);
    }

    &:hover &-text {
      visibility: visible;
      animation: fadeIn 0.8s ease;
    }
  }
}
