.form-container{
    background-color: white;
    width: 30%;
    margin: 12rem auto 5rem auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.8s ease-in-out;
}


.form{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    
}



.form-image-adult{
   
    height: 35vh;
    background-image: url(../images/comp-1-rem.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: top center;
    margin-top: -13rem;
    /* background-color: #264653; */
    transition: all 0.8s ease-in-out;

} 

.form-image-kids{
    @extend .form-image-adult;
    background-image: url(../images/kids-rem.png);
    background-size: 105%;
}

.checkbox{
    &__container{
        @include flex-row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        label{
            color: $color-primary;
            font-size: $default-font-size;
            padding-right: .5rem;
        }
    }
    &__box{
        padding: 1.5rem;
        outline: none;
    }
}


// .form-container:hover .form-image{
//     background-size: 100%;
//     transform: rotate(1deg);
// }
