.genre{

    &__sellection{
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        background-color: $color-grey-light-1;
        color: $color-primary;
        border: none;
        border-radius: 3px;
        margin: 5vh 0;
        transition: all .1s;
        box-shadow: $box-shadow-light-allaround;
        outline: none;
    
        &:focus{
            outline: none;
        }
    }

}