.input{
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: rgba($color-white, .5);
    border: none;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    transition: all .1s;
    background-color: #ecf0f0;
    box-shadow: $box-shadow-light-allaround;
    outline: none;

    &:focus{
        outline: none;
        border-bottom: 2px solid #077a70;
    }
    
    &:focus:invalid{
        border-bottom: 2px solid $color-error;
    }

    &-sm{
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }

    &-xs{
        padding: .8rem .8rem;
        margin-bottom: .8rem;
    }
    
}

.checkbox{
    &__container{
        @include flex-row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        label{
            color: $color-primary;
            font-size: $default-font-size;
            padding-right: .5rem;
        }
    }
    &__box{
        padding: 1.5rem;
        outline: none;
    }
}

