.header{
    // animation: moveInTop 0.8s ease;
    height: 70vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.7),
        rgba($color-primary-dark, 0.7)), 
    url(../images/movies.jpg);
    background-size: cover;
    background-position: top;
    color: $color-white;
    font-size: 1.6rem;

    @include respond(tab-land){
        height: 65vh;
        
    }

    @include respond(tab-port){
        height: 60vh;
        
    }

    @include respond(phone){
        height: 50vh;
    }

   
   
    &__logo-box { 
        text-align: center;

    }
    &__text-box { 
        text-align: center;
    }
    &__signup-button {
        text-align: center;

    }
    &__login-button {
        text-align: center;

    }
    &__nav-button {
        text-align: center;

    }    
}

.movie-container__header{
    @extend .header;
    background-position: 0 100%;
    height: 100vh;
    background-size: 50% 100%;
    background-repeat: no-repeat;

    @include respond(phone){
        background-position: top;
        height: 100vh;
        background-size: cover;
    }

}

.movies-header{
    @extend .header;
    background-image:linear-gradient(to bottom,
             rgba($color-grey-light-1, .2),
             rgba($color-grey-light-1, 3)),
              url(../images/collage1.jpg);
    background-repeat: no-repeat;
    // background-size: 100% 100%;
    height: 60vh;
    margin-top: -7vh;

    &__kids{
        @extend .movies-header;
        background-image:linear-gradient(to bottom,
        rgba($color-grey-light-1, 0.8)0%,
        rgba($color-grey-light-1, 0.3)20%,
        rgba($color-grey-light-1, 0.3)60%,
        rgba($color-grey-light-1, 0.3)80%,
        rgba($color-grey-light-1, 0.4)85%,
        rgba($color-grey-light-1, 0.7)90%,
        rgba($color-grey-light-1, 1)100%,
              transparent 60%) ,
              url(../images/kidscollage.png);
         margin-bottom: 10vh;
         background-repeat: repeat-x;
         animation: animatedBackground 17s linear infinite;
         
    }


}
