.header{
    animation: moveInTop 0.8s ease;
    height: 70vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.7),
        rgba($color-primary-dark, 0.7)), 
    url(../images/movies.jpg);
    background-size: cover;
    background-position: top;
    color: $color-white;
    font-size: 1.6rem;
   
    &__logo-box { 
        text-align: center;

    }
    &__text-box { 
        text-align: center;
    }
    &__signup-button {
        text-align: center;

    }
    &__login-button {
        text-align: center;

    }
    &__nav-button {
        text-align: center;

    }

    
}

// .header__movies{
//     background-size: cover;
//     background-position: top;
//     color: $color-white;
//     font-size: 1.6rem;
//     height: 55vh;
//     align-items: center;
//     transition: all 0.4s ease-in-out;

//     &-1{
//         background-image: url(../images/movie.jpg);
//     }

//     &-2{
//         background-image: url(../images/poster.jpg);
//     }

//     &-3{
//     background-image: url(../images/movies.jpg);

//     }

//     &-prev, &-next{
//         color: $color-white;
//         font-size: 2rem;
//         text-align: center;
//         transition: all 0.4s ease;

//         &:hover{
//             font-size: 2.3rem;
//             cursor: pointer;

//         }
//     }
// }