.navbar{
    // @include gradient(0.6);
    background-color: rgba($color-primary-light, .5);
    @include flex-row;
    align-items: center;
    box-shadow: $box-shadow-intense-bl;
    transition: all 0.8s ease;
    position: sticky;
    top: 0;
    z-index: 10;

    &__logo, &__faq, &__login, &__chat, &__user{ 
        // @include flex-row;
        font-size: $default-font-size;
        letter-spacing: .5rem;
        transition: all 0.1s ease-in-out;
        margin: 0 2vw;
        a{
            text-decoration: none;
            color: $color-white;
            
        }

        &:hover{
            transform: translateY(-.1rem);
            
        }
    }

 
    
}