.navbar{
    @include gradient(0.7);
    @include flex-row;
    align-items: center;
    box-shadow: $box-shadow-light-allaround;
    transition: all 0.8s ease;

    &__logo, &__faq, &__login{ 
        // text-align: center;
        font-size: $default-font-size;
        letter-spacing: .5rem;
        transition: all 0.4s ease-in-out;
        margin: 0 3vw;
        a{
            text-decoration: none;
            color: $color-white;
        }

        &:hover{
            transform: translateY(-.3rem);
        }
    }
    
}