.navbar{
    @include gradient(0.6);
    @include flex-row;
    align-items: center;
    box-shadow: $box-shadow-light-allaround;
    transition: all 0.8s ease;

    &:hover{
        @include gradient(0.7);
    }

    &__logo{ 
        text-align: center;
        font-size: $default-font-size;
        letter-spacing: .5rem;
        transition: all 0.4s ease-in-out;

        a{
            text-decoration: none;
            color: $color-white;
        }

        &:hover{
            transform: translateY(-.3rem);
        }
    }

    &__login{
        @extend .navbar__logo;
        margin-right: 5vw;
    }
    
}