

.container__character{
    height: 40vh;
    width: 90%;
    margin: 3vh auto;


    &-1 {
        background-image: url(../images/joker.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    &-2 {
        background-image: url(../images/katniss.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &-3 {
        background-image: url(../images/forrest.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }
    &-4 {
        background-image: url(../images/hulk.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }

    
}

.container__character-kids{
    height: 40vh;
    width: 90%;
    margin: 3vh auto;
    background-image: url(../images/animated.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

   
}