<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />
</head>
<header class="header">
  <div class="header__logo-box"></div>
  <div class="header__nav-button"></div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">VideoClub</span>
      <span class="heading-primary--sub">Watch your favorite movies anytime anywhere</span>
    </h1>
  </div>
  <div class="header__signup-button">
    <a href="/signup" class="btn btn--white btn--animated-left">Signup</a>
  </div>
  <div class="header__login-button">
    <a href="/login" class="btn btn--white btn--animated-right">Login</a>
  </div>
</header>
<main>
  <section class="section-overview">
    <div class="section-overview__photo section-overview__photo-1"></div>
    <div class="section-overview__text section-overview__text-1">
      Sign Up and get access to limitless movies! Pay ONLY what you watch! No
      subscriptions?! No problem!
    </div>
    <div class="section-overview__photo section-overview__photo-2"></div>
    <div class="section-overview__text section-overview__text-2">
      Watch anytime everywhere! Stream unlimited movies on your phone, tablet,
      laptop, and TV without paying more.
    </div>
    <div class="section-overview__photo section-overview__photo-3"></div>
    <div class="section-overview__text section-overview__text-3">
      VideoClub has full-length movies that will make you laugh, make you cry,
      scare the heck out of you, or inspire you to hug the person you love.
    </div>
    <div class="section-overview__photo section-overview__photo-4"></div>
    <div class="section-overview__text section-overview__text-4">
      We love movies! MovieClub was created for people like us who want to watch
      "Great Movies".
    </div>
    <div class="section-overview__photo section-overview__photo-5"></div>
    <div class="section-overview__text section-overview__text-5">
      No movie is more than two clicks away! Stop scrolling and start watching
      something good.
    </div>
  </section>
</main>