<header class="header">
  <div class="header__logo-box"></div>
  <div class="header__nav-button"></div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">VideoClub</span>
      <span class="heading-primary--sub">Watch your favorite movies anytime anywhere</span>
    </h1>
  </div>
  <div class="header__signup-button">
    <a href="/signup" class="btn btn--white btn--animated-left">Signup</a>
  </div>
  <div class="header__login-button ">
    <a href="#" class="btn btn--white btn--animated-right">Login</a>
  </div>
</header>
<main>
  <section class="section-overview">
    <div class="section-overview__photo section-overview__photo-1"></div>
    <div class="section-overview__text section-overview__text-1">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Eaque exercitationem
      esse reprehenderit. Quibusdam, eaque? Neque facere praesentium voluptatum consequatur possimus.</div>
    <div class="section-overview__photo section-overview__photo-2"></div>
    <div class="section-overview__text section-overview__text-2">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Sequi consequuntur
      est excepturi et eveniet harum quaerat eligendi laborum, dignissimos debitis?</div>
    <div class="section-overview__photo section-overview__photo-3"></div>
    <div class="section-overview__text section-overview__text-3">Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit
      necessitatibus veniam ab accusantium deserunt molestias perferendis doloribus minima omnis soluta!</div>
    <div class="section-overview__photo section-overview__photo-4"></div>
    <div class="section-overview__text section-overview__text-4">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Facere velit quam
      quidem consequuntur possimus non dignissimos nulla harum, sequi dolorem!</div>
    <div class="section-overview__photo section-overview__photo-5"></div>
    <div class="section-overview__text section-overview__text-5">Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Dolore, ullam. Neque
      nobis facere adipisci necessitatibus praesentium, temporibus alias nihil dolore.</div>
  </section>
</main>
<footer class="footer">

</footer>