<div class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/">FAQ</a></div>
    <div class="navbar__login"><a href="/">Logout</a></div>
</div>
<!-- <iframe width="100%" height="500px" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0&autoplay=1&mute=1">
</iframe> -->
<div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item">
            <img src="images/marvel.jpg">
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="images/et.jpg">
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="images/harry.jpg">
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>
<main>
    <form action="" class="genre">
        <select name="genre" class="genre__sellection">
            <option value="#">Genre</option>
            <option value="Adventure">Adventure</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Mystery">Mystery</option>
            <option value="Kids">Kids</option>
        </select>
        <input type="submit" class="btn  genre__submit" value="Get Movies" />
    </form>
    <h3 class="heading-secondary heading-secondary--movies">All Movies</h3>
    <section class="movie__list">
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
        <div class="movie__card">
            <p class="movie__card-title">title</p>
        </div>
    </section>
</main>