<div class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/">FAQ</a></div>
    <div class="navbar__login"><a href="/">Logout</a></div>
</div>
<main>
    <form action="" class="genre">
        <select name="genre" class="genre__sellection">
            <option value="#">Genre</option>
            <option value="Adventure">Adventure</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Mystery">Mystery</option>
            <option value="Kids">Kids</option>
        </select>
        <input type="submit" class="btn  genre__submit" value="Get Movies" />
    </form>

    <section class="movie__list">
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
        <div class="movie__card">
            <h1 class="movie__card-title">title</h1>
        </div>
    </section>
</main>