<nav class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/">FAQ</a></div>
    <div class="navbar__login"><a href="/logout">Logout</a></div>

</nav>
<main class="play__container">
    <video class="play__container-video" controls>
        <source src="../images/hollywood.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</main>