<main class="signup-page">
    <section class="form-container">
        <div class="form-image"></div>

        <form action="" class="form">
            <input class="input" type="text" placeholder="First Name">
            <input class="input" type="text" placeholder="Last Name">
            <input class="input" type="text" placeholder="E-Mail Address">
            <input class="input" type="text" placeholder="Password">
            <input class="input" type="text" placeholder="Confirm Password">
            <button class="btn-form">Sign Up!</button>
        </form>

    </section>
</main>